{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<main>


    <h2 class="">Se connecter ou s'inscrire</h2>

    <div>
        <a class="boutonGris" href="{{ path('app_register') }}">S'inscrire</a>
    </div>
    <div class="sepaLoginReg">
        <div class="ligneGriseS"></div>
        <p>OU</p>
        <div class="ligneGriseS"></div>
    </div>

    <div class="formLogin">

        
        

        
        <form method="post">
            {% if error %}
            <div class="erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
            
            
            <div>
                
                <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div>
                <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >
            
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            
                <button class="boutonGris" type="submit">
                    Connexion
                </button>
            
        </form>
    </div>
</main>
    {% endblock %}
    