{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}


<main>

    <h2>S'inscrire ou se connecter</h2>
    {% for flash in app.flashes('verify_email_error') %}
                <div class="alert alert-success">
                    <div class="error">
                        <p>

                            {{ flash }}
                        </p>
                    </div>
                </div>
            {% endfor %}
     <div>
        <a class="boutonGris" href="{{ path('app_login') }}">Se connecter</a>
    </div>
    <div class="sepaLoginReg">
        <div class="ligneGriseS"></div>
        <p>OU</p>
        <div class="ligneGriseS"></div>
    </div>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="erreur" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="formRegister">

        {{ form_start(registrationForm) }}
        <div>
            <div>
                {{ form_errors(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom) }}
            </div>

            <div>
                {{ form_errors(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom) }}
            </div>
        </div>
        <div>
            <div>
            {{ form_errors(registrationForm.telephone) }}
            {{ form_widget(registrationForm.telephone) }}
            </div>
            <div>
                {{ form_errors(registrationForm.entreprise) }}
                {{ form_widget(registrationForm.entreprise) }}
            </div>
        </div>
        <div>
            {{ form_errors(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <div class="agreeTerms">
            {{ form_errors(registrationForm.agreeTerms) }}
            <div>

                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>
        </div>
        <div class="valider">

            {{ form_row(registrationForm.valider) }}
        </div>
    
        {{ form_end(registrationForm) }}
    </div>
</main>
{% endblock %}
