{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="center">
    <div class="titre">
        <h2>Bonjour {{ app.user.Prenom }}</h2>
        <h3>Information du compte</h3>
    </div>
    <div class="containerCompte">

        <table class="tableinfo">
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>{{ app.user.Nom }}</td>
                </tr>
                <tr>
                    <td>Prenom</td>
                    <td>{{ app.user.Prenom }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ app.user.Email }}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{ app.user.Telephone }}</td>
                </tr>
                <tr>
                    <td>Entreprise</td>
                    <td>
                        {{ ( app.user.Entreprise ) ? app.user.Entreprise : "Pas d'entreprise enregisté" }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="centerText">
            <a href="#" class="boutonGris">Modifier</a>
        </div>
        <div class="titre">
            <h3>Rendez-vous</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Rendez-vous</th>
                    <th>Nombre de couteau</th>
                    <th>PDF</th>
                    <th>Annuler</th>
                </tr>
            </thead>
            <tbody>

                {% for row in app.user.Commandes %}
                <tr class="centerText">
                    <td>{{ row.prestation }}</td>
                    <td>{{ row.nbCouteau }}</td>
                    <td>

                        {% if row.prestation.debut > maintenant %}
                        <p>Disponible après rendez-vous !</p>
                        {% else %}
                        
                        
                        <a href="#" class="boutonGris"> <i class="fa-solid fa-file-arrow-down"></i> Télécharger</a>
                        {% endif %}

                    
                    </td>
                    <td class="centerText">

                        {% if row.prestation.debut < maintenant %}
                        <p><i class="fa-solid fa-check"></i></p>
                        {% else %}
                        
                        <a href="{{ path('app_supp_commande', {'id': row.id }) }}" class="supp"><i class="fa-solid fa-xmark"></i></a>
                        {% endif %}
                            

                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
