{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="center">
    <div class="titre">
        <h2>Bonjour {{ app.user.Prenom }}</h2>
        <h3>Information du compte</h3>
    </div>
    <div class="containerCompte">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">
                <div class="success">
                    <p>

                        {{ flash }}
                    </p>
                </div>
            </div>
        {% endfor %}

        <table class="tableinfo">
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>{{ app.user.Nom }}</td>
                </tr>
                <tr>
                    <td>Prenom</td>
                    <td>{{ app.user.Prenom }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ app.user.Email }}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{ app.user.Telephone }}</td>
                </tr>
                <tr>
                    <td>Entreprise</td>
                    <td>
                        {{ ( app.user.Entreprise ) ? app.user.Entreprise : "Pas d'entreprise enregisté" }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="centerText">
            <a href="{{ path('app_modif_compte') }}" class="boutonGris">Modifier</a>
        </div>
        <div class="titre">
            <h3>Rendez-vous</h3>
        </div>
                    
                        
                    
        {% if app.user.Commandes|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Rendez-vous</th>
                    <th>Montant</th>
                    <th>PDF</th>
                    <th>Annuler</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in app.user.Commandes %}
                <tr class="centerText">
                    <td>{{ commande.prestation.debut|format_datetime('medium', 'short', locale='fr') }}</td> 
                    <td>
                        {% set somCout = 0 %}
                        {% for detail in commande.details %}
    
                            {% if detail.remise > 0 %}
                                {% set somCout = somCout + ((detail.tarif * detail.nbCouteau ) * (1 -  (detail.remise / 100))) %}
                            {% else %}
                                {% set somCout = somCout + ((detail.tarif * detail.nbCouteau )) %}
                            {% endif %}
                        {% endfor %}
                        {{ somCout }}€
                    </td>
                    <td>
                        {% if commande.prestation.debut > maintenant %}
                        <p>Disponible après rendez-vous !</p>
                        {% else %}
                        
                        
                        <a href="{{ path('app_pdf_telechargement', {'id' : commande.id }) }}" class="boutonGris"> <i class="fa-solid fa-file-arrow-down"></i> Télécharger</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if commande.prestation.debut < maintenant %}
                        <p><i class="fa-solid fa-check"></i></p>
                        {% else %}
                        
                        <a href="{{ path('app_supp_cmd', {'id' : commande.id }) }}" class="supp"><i class="fa-solid fa-xmark"></i></a>
                        {% endif %}
                    </td>
                </tr>
                
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p class="centerText">Vous n'avez pas encore pris de rendez-vous !</p>
        {% endif %}

        
    </div>
    
    <a class="supp" href="{{ path('app_supp_compte') }}">Supprimer compte</a>
        
</div>
{% endblock %}
