{% extends '@EasyAdmin/layout.html.twig' %}
{% block head %}
    
{% endblock %}


{% block content %}

<div>
    <h1>Factures</h1>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Numéro de facture</th>
                <th>Date de la prestation</th>
                <th>Nombre de couteau</th>
                <th>Total à payer</th>
                <th>Modifier</th>
                <th>Facture</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr class="text-center">
                <td>{{ commande.facture }}</td>
                <td>{{ commande.DateFacturation|date("d m Y") }}</td>
                <td>{{ commande.getCouteaux }}</td>
                <td>{{ commande.getTotal }} €</td>
                <td><a class="btn btn-primary" href="{{ path('admin_modif_commande', {'id' : commande.id}) }}"><i class="bi bi-pencil"></i></a></td>
                <td><a class="btn btn-success" href=""><i class="bi bi-receipt-cutoff"></i></a></td> 
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}