{% extends '@EasyAdmin/layout.html.twig' %}
{% block head %}
    
{% endblock %}


{% block content %}

<div>
    <h1>Modification factures numéro: {{ commande.facture }}</h1>
    
    

    <form action="" method="post">

        {% for detail in commande.details %}
        
        <div>

            <label for="type">Type de couteau ({{ detail.tarif }} €/u)
                <input type="text" name="type" value="{{ detail.type }}">
            </label>
            
            
            <input type="hidden" name="tarif" value="{{ detail.tarif }}">
            <label for="nbCouteau">Nombre de couteau
                <input type="text" name="nbCouteau" value="{{ detail.nbCouteau }}">
            </label>
            <label for="nbCouteau">Remise (%)
                <input type="number" min="0" max="100" name="nbCouteau" value="{{ detail.remise }}">
            </label>
        </div>
        {% endfor %}



        <input type="submit" value="Modifier">



    </form>
</div>
    
{% endblock %}