{% block body %}
<style>
    h3{
        color: red;
    }
    @page { 
    size: A4 portrait;
    margin: 10%;
    }
    .infoRdv table tr td:first-child{
        text-align: end;
        color: red;
    }
    .infoRdv table tr td:last-child{
        text-align: start;
    }

</style>

<div>
    <h1>Raffutage</h1>
    <h2>Factures numéro: {{ commande.facture }}</h2>

    <div class="infoRdv">

        <table>
            <tbody>
             <tr>
                <td>Client:</td>
                <td>{{ commande.facture.client }}</td>
             </tr>
             <tr>
                <td>Date de facturation:</td>
                <td>{{ commande.dateFacturation|format_datetime('medium', 'none', locale='fr') }}</td>
             </tr>
             <tr>
                <td>Debut du rendez-vous:</td>
                <td>{{ commande.prestation.debut|format_datetime('medium', 'short', locale='fr') }}</td>
             </tr>
             <tr>
                <td>Fin du rendez-vous:</td>
                <td>{{ commande.prestation.fin|format_datetime('medium', 'short', locale='fr') }}</td>
             </tr>
            </tbody>
        </table>

        
    
      


    </div>

    <h3>Details de la commande</h3>

    <table>
        <thead>
            <tr>
                <th>Type de couteau</th>
                <th>Tarif unitaire</th>
                <th>Remise (%)</th>
                <th>Nombre de couteau</th>
                <th>Total par type (TTC)</th>
            </tr>
        </thead>
        <tbody>
            {% set totalTTC = 0 %}

            {% for details in commande.details %}
            <tr>
                <td>{{ details.type }}</td>
                <td>{{ details.tarif }}</td>
                <td>{{ details.remise }}</td>
                <td>{{ details.nbCouteau }}</td>
                <td>
                    {% if details.remise > 0 %}
                    {% set totalType = ((details.tarif * details.nbCouteau ) * (1 -  (details.remise / 100))) %}

                    {% else %}
                        
                    {% set totalType = details.nbCouteau * details.tarif %}
                    {% endif %}
                    
                    {{ totalType }} €

                    {% set totalTTC = totalTTC + totalType %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <p>
            Total TTC {{ totalTTC }} €
        </p>
    </div>

    
    

    



</div>
    
{% endblock %}