<title>{{ title }}</title>
{% block body %}
<style>
    @page { 
    size: A4 portrait;
    margin: 10%;
    }
    .infoRdv ul{
        list-style: none;
    }
    .details{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    strong{
        margin-right: 20px;
    }
    .details, 
    thead,
    tbody,
    tr, 
    td,
    th{
        border: 1px solid black;
        border-collapse: collapse;
    }
    
</style>

<div>
    <h1>Raffutage</h1>
    <h2>Factures numéro: {{ commande.facture }}</h2>

    <div class="infoRdv">

        <ul>
            <li><strong>Client:</strong> {{ commande.facture.client }}</li>
            <li><strong>Date de facturation:</strong> {{ commande.dateFacturation|format_datetime('medium', 'none', locale='fr') }}</li>
            <li><strong>Debut du rendez-vous:</strong> {{ commande.prestation.debut|format_datetime('medium', 'short', locale='fr') }}</li>
            <li><strong>Fin du rendez-vous:</strong> {{ commande.prestation.fin|format_datetime('medium', 'short', locale='fr') }}</li>
        </ul>

    </div>

    <h3>Details de la commande</h3>

    <table class="details">
        <thead>
            <tr>
                <th>Type de couteau</th>
                <th>Tarif unitaire</th>
                <th>Remise (%)</th>
                <th>Nombre de couteau</th>
                <th>Total par type (TTC)</th>
            </tr>
        </thead>
        <tbody>
            {% set totalTTC = 0 %}

            {% for details in commande.details %}
            <tr>
                <td>{{ details.type }}</td>
                <td>{{ details.tarif }}</td>
                <td>{{ details.remise }}</td>
                <td>{{ details.nbCouteau }}</td>
                <td>
                    {% if details.remise > 0 %}
                    {% set totalType = ((details.tarif * details.nbCouteau ) * (1 -  (details.remise / 100))) %}

                    {% else %}
                        
                    {% set totalType = details.nbCouteau * details.tarif %}
                    {% endif %}
                    
                    {{ totalType }} €

                    {% set totalTTC = totalTTC + totalType %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <p>
            <strong>Total TTC {{ totalTTC }} €</strong>  
        </p>
    </div>

    
    

    



</div>
    
{% endblock %}