{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<div class="titre">

    <h2>Prise de rendez-vous</h2>
</div>
{% for flash in app.flashes('error') %}
                
                    <div class="error">
                        <p>
                            {{ flash }}
                        </p>
                    </div>
                
            {% endfor %}

{{ form_start(rdvForm) }}
<div  class="formRdv">

    <div class="rdv">
        <div id="calendar"></div>
        <input name="presta" type="hidden" id="rdvJs" data-choice="{{ data }}"></input>
    </div>
    
    <div class="type">
        <h3 id="selection" class="centerText">Aucune date séléctionné</h3>
        <ul id="gestionDurees" data-prototype= "{{ form_row(rdvForm.typages.vars.prototype)|e('html_attr') }}">
            {% for type in rdvForm.typages %}
            
            <li>{{ form_widget(type, 'Type de couteau') }}</li>
            <li>{{ form_widget(type, 'Type de couteau') }}</li>
            {% endfor %}
        </ul>
        {% do rdvForm.typages.setRendered %}
        <div class="centerDiv centerText m-y">
            {{ form_widget(rdvForm.Valider) }}
        </div>
        
    </div>
    
</div>
    {{ form_end(rdvForm) }}
    

{% endblock %}
